html,body{
	height:100%;
	margin:0px;
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
canvas[resize]{
	width:100vw;
	height:100vh;
	margin:auto;
}
canvas[resize].half{
	width:45vmax;
	height:45vmax;
	max-width:100vw;
	max-height:calc(100vh - 70px);
}
.row{
	display: flex;
	flex-wrap: wrap;
}
.canvases{
	flex: 1 0 0;
}
.toolbar{
	flex: 0 0 70px;
	width:100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
.btn{
	margin:2px;
}

/*
.black { stroke: hsl(0, 0, 0); }
.red { stroke: hsl(14.4, 0.87, 0.90); }
.yellow { stroke: hsl(43.2, 0.88, 0.93 ); }
.darkBlue { stroke: hsl(190.8, 0.82, 0.28 ); }
.blue { stroke: hsl(205.2, 0.74, 0.61); }
*/

.valley{
	fill: none;
	stroke: hsl(205, 74%, 30%);
	stroke-width: 0.0075;
	stroke-linecap: round;
	stroke-dasharray:0.01 0.015;
}


.mountain{
	fill: none;
	stroke: hsl(14.4, 87%, 45%);
	stroke-width: 0.0075;
	stroke-linecap: round;
	stroke-dasharray:0 0;
}

.mark{
	fill: none;
	stroke: black;
	stroke-width: 0.002;
	stroke-linecap: round;
	stroke-dasharray:0 0;
}

.boundary{
	fill: none;
	stroke: black;
	stroke-width: 0.0075;
	stroke-linecap: round;
	stroke-dasharray:0 0;
}

.highlighted{
	fill: none;
	stroke: hsl(43, 88%, 46%);
	stroke-width: 0.0075;
	stroke-linecap: round;
	stroke-dasharray:0 0;
}

.paper{
	fill: hsl(43, 99%, 98%);
	stroke: none;
}