.button {
	margin: 2px;
	padding: 0.25em 0.5em;
	border: 1px solid transparent;
	border-radius: 0.2em;
	line-height: 1.5;
	display: inline-block;
	color: white;
	text-align: center;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	cursor: pointer;
}

.button {
	background-color: #37a;
	border-color: #37a;
}
.button:hover {
	background-color: #49d;
	border-color: #49d;
}

a.button { text-decoration: none; }
