html, body{
	height: 100%;
}
body {
	margin: 0px;
	background-color: hsl(205, 74%, 30%);
	color: white;
	font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
.grid {
	height: 100%;
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: 50% 30% 20%;
}
#origami-cp {
	grid-column: 1/2;
	grid-row: 1/2;
}
#origami-fold {
	grid-column: 1/2;
	grid-row: 2/4;
}
#editor {
	grid-column: 2/3;
	grid-row: 1/3;
}
#toolbar {
	grid-column: 2/3;
	grid-row: 3/4;
}
#console{
	position: absolute;
	z-index: 7;
	bottom: 0px;
	right: 0px;
	width: calc(50vw - 4rem);
	margin: 2rem;
	/*background-color: rgb(64, 98, 85);*/
	background-color: rgb(47, 49, 41);
	border-radius: 0.5em;
}
#console p {
	padding: 0.5rem;
	margin: 0;
	color: #ddd;
	font-family: monospace;
}
#console a {
	color: white;
}

#editor {
	width: calc(100% - 2rem);
	height: calc(100% - 2rem);
	margin: 1rem;
}

/* toolbar and input */
.toolbar{
	flex: 0 0 70px;
	width:100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
input[type="text"]{
	max-width:80px;
}
#interp-value{
	width:4rem;
	display: inline-block;
	text-align: center;
}
.slider.slider-horizontal{
	width:200px;
	margin:0 10px;
}

@media (orientation: portrait) {
	.grid {
		grid-template-rows: 50% 50%;
		grid-template-columns: 100%;
	}
	#console{
		width: calc(100vw - 2rem);
	}	
}

svg {
	width: 100%;
	height: 100%;
}

svg * {
	stroke-linecap: round;
}

.boundary {
	fill: linen;
}

.valley{
	stroke-dasharray: 0.01 0.02;
}

.foldedForm .faces polygon {
	stroke: rgba(0, 0, 0, 0.2);
	fill: rgba(255, 255, 255, 0.2);
}

.foldedForm .faces .front {
	fill: peru;
}

.foldedForm .faces .back {
	fill: linen;
}
