html, body{
	height: 100%;
	width: 100%;
}

body {
	margin: 0px;
	background-color: #158;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: calc(100% - 6rem) 6rem;
	color: white;
	font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
	font-size: 150%;
}

svg {
	width: 100%;
	height: 100%;
}

@media (orientation: portrait) {
	body {
		grid-template-columns: 1fr;
		grid-template-rows: 50% 50%;
	}
}

.toolbar {
	margin: 1rem;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.toolbar * {
	margin: 0.333rem;
}

#label {
	min-width: 9rem;
}

input[type=range] {
	max-width: 300px;
	/*margin: auto;*/
}
