html, body {
	background-color: hsl(205, 74%, 30%);
	font-family: 'Montserrat';
}
h1, h2, h3{
	color: white;
	padding:.25em 1em;
	font-size: 1.666em;
	line-height: 1.5;
	background-color: hsla(43, 88%, 46%, 0.9);
	margin: 2.5rem 5rem;
	display:inline-block;
	/*background-color: hsl(14.4, 87%, 45%);*/
}
h1{
	font-size: 1.866em;
	background-color: hsl(43, 88%, 46%);
	margin: -2rem 5rem 2rem 2rem;
}
h3 a, h3 a:hover, h3 a:visited, h3 a:active{
	color:white;
	text-decoration: none;
	cursor: help;
	border-bottom: 3px dashed white;
	display: inline;
}
.btn-outline-light:hover {
	color: black;
}
canvas[resize]{
	height:100%;
	width:100%;
}
canvas[resize].half{
	width:40vmax;
	height:40vmax;
	margin:auto;
}
canvas[resize].third{
	width:25vw;
	height:25vw;
}
