:root{ --crease-width: 0.01; }

svg{
	width:35vmax;
	height:35vmax;
}

.mountain, .valley, .boundary, .mark {
	stroke:black;
	stroke-linecap: round;
	stroke-width: var(--crease-width);
}
.node, .face, .sector{
	stroke: none;
	fill: none;
}
.folded-face{
	/*fill:rgba(50, 120, 160, 1.0);*/
	fill:rgba(205, 205, 190, 0.5);
}
#folded-crane #faces polygon{
	fill:rgba(0,0,0,0.03);
}
.boundary{ fill:#E0E0D7; }
.mark{ stroke-width: calc( var(--crease-width) * 0.25); }
.valley{ stroke-dasharray: calc( var(--crease-width) * 1.5) calc( var(--crease-width) * 2) }

.fill-yellow{ fill:hsl(43, 88%, 46%); }

/*.folded-paper-color{ fill:hsl(43, 88%, 55%); }*/
.folded-paper-color{ fill:hsl(14.4, 87%, 45%); }



/*
250
243
239

0.980392156862745
0.952941176470588
0.937254901960784
*/

/*
0.19607843137255
0.47058823529412
0.62745098039216

50
120
160

*/