:root{ --crease-width: 0.01; }

svg{
	width:40vmax;
	height:40vmax;
}

svg * {
	stroke-width: var(--crease-width);
	stroke-linecap: round;
	stroke: black;
}

polygon {
	fill: none;
	stroke: none;
	stroke-linejoin: bevel;
}

.boundary {
	fill: none;
	stroke: none;
}

.valley{
	stroke-dasharray: calc( var(--crease-width) * 1) calc( var(--crease-width) * 2);
}
.mark {
	stroke-width: calc( var(--crease-width) * 0.25);
}

.creasePattern .boundary {
	stroke: black;
	fill: linen;
}

.foldedForm #faces polygon {
	stroke: black;
}

.foldedForm #faces .front {
	fill: peru;
}

.foldedForm #faces .back {
	fill: linen;
}

.foldedForm #creases line {
	stroke: none;
}
