
a, a:visited, a:hover, a:active{
	color:black;
	text-decoration: none;
}
pre{ min-width: 0; }
.flex-grid { display: flex; }
.column {
	flex: 1;
	text-align: center;
}
.demo{ margin:0rem 2rem; }
.card-columns{ margin:0 2rem; }
.text-muted a, .text-muted a:visited, .text-muted a:active{
	color:#868e96;
	/*text-decoration: underline;*/
}
.text-muted a:hover{ text-decoration: none; }

.container{
	margin-top:3rem;
	margin-bottom: 5rem;
	background-color: white;
	padding-bottom: 2rem;
}
.explain{
	width:66vw;
	min-width: 400px;
	margin:auto;
	margin-top:2em;
	margin-bottom:2em;
	padding:1em;
	background-color: #FFFFAA;
	box-shadow: 5px 5px 5px #CCC;
	line-height: 2em;
}

.centered{ text-align: center; }

@media (max-width: 650px), (hover:none){
	h3{ font-size: 1em; }
	.flex-grid { display:block; }
	.column{ display:block; }
	canvas[resize].third{
		width:70vw;
		height:70vw;
	}
	.demo{
		margin:1em 0;
	}
}
