html, body {
  margin: 0px;
  color: white;
  background-color: #158;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  display: inline-block;
  margin: 1rem 2rem;
  font-size: 4rem;
}
svg {
  width: 40vw;
  height: 40vw;
  max-height: 60vh;
  margin: auto;
  padding: 0 3vw;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem 0;
}
