html, body {
  width: 100%;
  height: 100%;
}
body {
  margin: 0;
  background-image:
    linear-gradient(45deg, #f8f8f8 25%, transparent 25%), 
    linear-gradient(135deg, #f8f8f8 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, #f8f8f8 75%),
    linear-gradient(135deg, transparent 75%, #f8f8f8 75%);
  background-size: 25px 25px;
  background-position: 0 0, 12.5px 0, 12.5px -12.5px, 0px 12.5px;
}
svg {
  width: 100%;
  height: 100%;
}
#app {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}
.code-editor,
.code-canvas {
  flex: 1;
}
/* center everything on the canvas */
.code-canvas {
  display: flex;
  justify-content: center;
  align-items: center;
}
.code-console {
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 0;
  width: 50%;
}
.code-console p {
  width: calc(100% - 8rem);
  margin: 1rem 4rem;
  padding: 0.5rem 1rem;
  background-color: #2f312a;
  border-radius: 0.5rem;
  color: #ddd;
  font-family: monospace;
}
/* buttons */
div[class*="-button"] {
  position: absolute;
  z-index: 8;
  width: 2rem;
  height: 2rem;
  border-radius: 1rem;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center center;
}
.play-pause-button {
  left: 0.5rem;
  bottom: 0.5rem;
}
.play-pause-button.pause {
  background-color: #5b23;
  background-image: url(../images/play.svg);
}
.play-pause-button.play {
  background-color: #5b2;
  background-image: url(../images/pause.svg);
}
.dark-mode-button {
  left: 0.5rem;
  bottom: 5.5rem;
  background-color: #fff9;
  background-image: url(../images/moon.svg);
}
.font-size-button {
  left: 0.5rem;
  bottom: 8rem;
  background-color: #fff9;
  background-image: url(../images/font-size.svg);
}
/*  additional buttons  */
.random-button {
  left: 0.5rem;
  bottom: 3rem;
  background-color: #fb3;
  background-image: url(../images/dice.svg);
}
.download-button {
  left: 0.5rem;
  bottom: 13rem;
  background-color: #fff9;
  background-image: url(../images/download.svg);
}
.share-button {
  left: 0.5rem;
  bottom: 10.5rem;
  background-color: #fff9;
  background-image: url(../images/share.svg);
}
.question-button {
  left: calc(50% - 2.5rem);
  top: 0.5rem;
  opacity: 0.8;
  background-color: #fff9;
  background-image: url(../images/question.svg);
}
@media not all and (hover), (max-aspect-ratio: 1/1) {
  .ace_editor {
    font-size: 1rem;
  }
  #app {
    flex-direction: column-reverse;
  }
  .code-console {
    width: 100%;
  }
  .code-editor,
  .code-canvas {
    height: 50%;
  }
  .play-pause-button {
    left: initial;
    right: 0.5rem;
    bottom: 0.5rem;
  }
  .random-button {
    left: initial;
    right: 3rem;
    bottom: 0.5rem;
  }
  .dark-mode-button {
    left: initial;
    right: 5.5rem;
    bottom: 0.5rem;
  }
  .font-size-button {
    left: initial;
    right: 8rem;
    bottom: 0.5rem;
  }
  .share-button {
    left: initial;
    right: 10.5rem;
    bottom: 0.5rem;
  }
  .download-button {
    left: initial;
    right: 13rem;
    bottom: 0.5rem;
  }
  .question-button {
    opacity: 1.0;
    top: initial;
    left: initial;
    right: 15.5rem;
    bottom: 0.5rem;
  }
}
