
html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	/*background-color: #158;*/
}
body {
  background-image: url(squares.png);
  /*background-position: 0 0, 12.5px 0, 12.5px -12.5px, 0px 12.5px;*/

}

#app {
	display: grid;
	grid-template-columns: min-content auto min-content;
	grid-template-rows: 38px calc(100vh - 38px);
}

.opaque-white {
	background-color: white;
	padding: 0.5rem;
}

.ui.menu {
	grid-column: 1/4;
	grid-row: 1/2;
}

.code-container {
	grid-column: 2/3;
	grid-row: 2/3;
	display: none;
}

.canvas-container {
	grid-column: 2/3;
	grid-row: 2/3;
}
.toolbar-left {
	grid-column: 1/2;
	grid-row: 2/3;
} 

.toolbar-right {
	grid-column: 3/4;
	grid-row: 2/3;
}

/* more pointer events */

.menubar {
	height: 60px;
}

[class^=toolbar-], .toolbar-left, .toolbar-right {
	/*background-color: white;*/
	padding: 0.5rem;
}

.text-editor-container {
	width: 100%;
	height: 100%;
}

svg {
	width: 100%;
	height: 100%;
	max-width: 100vw;
	max-height: 100vh;
	cursor: crosshair;
}
