.DS_Store
.eslintrc.js
.git
.gitignore
.travis.yml

coverage/
docs/
src/
tests/

build-shaders.py
changelog.md
contribute.md
developers.md
docs-style.css
rollup.config.js
tsconfig.json
typedoc.config.json
