:root{ --crease-width: 0.01; }

html,body{
	height:100%;
	margin:0px;
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
svg{
/*	width:100vw;
	height:calc(100vh - 70px);
	margin:auto;
}
.half{*/
	width:45vmax;
	height:45vmax;
	max-width:100vw;
	max-height:calc(100vh - 70px);
}
.row{
	display: flex;
	flex-wrap: wrap;
}
.canvases{
	flex: 1 0 0;
}
/* code mirror */
.CodeMirror {
	border: 2px solid #666;
	height: auto;
	overflow-y: auto;
	overflow-x: scroll;
	min-width: 30vw;
	margin:1em;
}
#code-container{
	margin:auto;
}
#code-column{
	flex:1;
	display:flex;
	align-items: center;
	justify-content: center;
}
#code-console{
	font-family: monospace;
}
/* toolbar and input */
.toolbar{
	flex: 0 0 70px;
	width:100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
input[type="text"]{
	max-width:80px;
}
.btn{
	margin:2px;
}
#interp-value{
	width:4rem;
	display: inline-block;
	text-align: center;
}
.slider.slider-horizontal{
	width:200px;
	margin:0 10px;
}
input#files{
	display:none;
}

.boundary{
	fill: white;
	stroke: black;
	stroke-width: var(--crease-width);
	stroke-linecap: round;
}
.node  { fill: none; stroke: none; }
.face  { fill: none; stroke: none; }
.sector{ fill: none; stroke: none; }
.mountain{
	stroke: hsl(14.4, 87%, 45%);
	stroke-width: var(--crease-width);
	stroke-linecap: round;
}
.valley{
	stroke: hsl(205, 74%, 30%);
	stroke-width: var(--crease-width);
	stroke-linecap: round;
	stroke-dasharray: calc( var(--crease-width) * 1.5) calc( var(--crease-width) * 2)
}
.mark{
	stroke: #888;
	stroke-width: calc( var(--crease-width) * 0.5);
	stroke-linecap: round;
}