:root{
	--crease-width: 0.01;
	--byrne-blue: #195783;
	--byrne-red: #e44f2a;
	--byrne-yellow: #ecb233;
}

html,body{
	margin:0;
	display:flex;
	justify-content: center;
}
svg{
	width:100vw;
	height:100vh;
}
.mountain, .valley, .boundary, .mark {
	stroke:black;
	stroke-linecap: round;
	stroke-width: var(--crease-width);
}
.vertex, .face, .sector{
	stroke: none;
	fill: none;
}
.vertex{ fill: hsl(43, 88%, 46%); }
.boundary{ fill:none; }
.mark{
	stroke-width: calc( var(--crease-width) * 0.25);
}
.valley{
	stroke-dasharray: calc( var(--crease-width) * 1.5) calc( var(--crease-width) * 2)
}
.touch{
	stroke: none;
	fill: hsl(14.4, 87%, 45%);
}
.face-highlight{
	fill: var(--byrne-yellow);
}
