:root{
	--crease-width: 0.01;
	--byrne-blue: #195783;
	--byrne-red: #e44f2a;
	--byrne-yellow: #ecb233;
}

/* 
#145685 (20, 86, 133) blue
#edb31c (237, 179, 28) yellow
#e64e1e (230, 78, 30) red
*/

html,body{
	margin:0;
	height: 100%;
	display:flex;
	justify-content: center;
	overflow: hidden;
	flex-direction: column;
}
svg{
	width:100vw;
	height:100vh;
	/*margin: 5vmin;*/
	touch-action: none;
	height:40vh;
	max-width: 90vw;
	padding:2vh;
}
.mountain, .valley, .boundary, .mark {
	stroke:black;
	stroke-linecap: round;
	stroke-width: var(--crease-width);
}
.vertex, .face, .sector{
	stroke: none;
	fill: none;
}
.face {
	fill: rgba(0, 0, 0, 0.1);
}
.vertex{ fill: hsl(43, 88%, 46%); }
.boundary{ fill:none; }
.mark{
	stroke-width: calc( var(--crease-width) * 0.25);
}
.valley{
	stroke-dasharray: calc( var(--crease-width) * 1.5) calc( var(--crease-width) * 2)
}
.touch{
	stroke: none;
	fill: hsl(14.4, 87%, 45%);
}
.face-highlight{
	fill: var(--byrne-yellow);
}
.crease-highlight {
	stroke: var(--byrne-yellow);
	stroke-linecap: round;
	stroke-width: var(--crease-width);
}
