html, body {
	width: 100%;
	height: 100%;
}
body {
	margin: 0;
	background-color: #158;
	font-family: sans-serif;
	overflow: hidden;
	font-size: 1rem;
}
pre {
	font-size: 0.85rem;
}
svg {
	width: 100%;
	height: 100%;
}

.app {
	width: calc(100% - 2rem);
	height: calc(100% - 2rem);
	margin: 1rem;
	display: grid;
	grid-template-columns: 33.3333% 33.3333% 33.3333%;
	grid-template-rows: 50% 50%;
	grid-gap: 1rem;
}
.grid-info {
	grid-column: 1/2;
	grid-row: 1/3;
}
.grid-json {
	grid-column: 3/4;
	grid-row: 1/3;
}
.grid-folded {
	grid-column: 2/3;
	grid-row: 2/3;
}
.grid-cp {
	grid-column: 2/3;
	grid-row: 1/2;
}
.grid-simulator {
	grid-column: 1/2;
	grid-row: 2/3;
}

.panel {
  padding: 0.666rem;
  overflow: auto;
  border-radius: 0.666rem;
  display: inline-block;
  border: 4px solid black;
  background-color: white;
}

.inspector {
	overflow-y: scroll;
}

.grid-json {
	/*overflow-y: scroll;*/
	width: calc(33vw - 2.5rem);
}

.grid-info {
	height: calc(100% - 3rem);
	position: relative;
}
.filename {
	padding-left: 1rem;
	overflow-x: scroll;
	font-weight: 800;
}

pre, .root {
	overflow-x: scroll;
	width: calc(33vw - 5rem);
}

pre {
	overflow-y: scroll;
	max-height: calc(100% - 3rem);
}

.export {
	bottom: 0;
	right: 0;
	position: absolute;
	padding: 0.666rem;
	background-color: white;
}

input[type="range"] {
	position: absolute;
	width: calc(33vw - 3rem);
	top: calc(50vh + 5px);
	left: 50vw;
	margin-left: calc(-16vw + 2.25rem);
	/* hidden by default */
	display: none;
}

.pass {
	color: #7b4;
	font-weight: 800;
}
.fail {
	color: #d42;
	font-weight: 800;
}
