:root{ --crease-width: 0.01; }

html,body{
	height:100%;
	margin:0px;
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
svg{
	width: 45vmax;
	height: 45vmax;
	max-width: 100vw;
	max-height: 100vh;
	margin: auto;
	stroke-linecap: round;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
.btn{
	margin:2px;
}
.valley{
	stroke-dasharray: calc( var(--crease-width) * 1.5) calc( var(--crease-width) * 2)
}
