:root{
	--crease-width: 0.01;
	--crease-width-half: 0.005;
	--crease-width-double: 0.02;
	--crease-width-oneandhalf: 0.015;
}

html,body{
	height:100%;
	margin:0px;
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #EEE;
}
svg{
	width:100vw;
	height:100vh;
	margin:auto;
}

/* set some components transparent, to be revealed when cursor is near */
.node{
	fill: none;
	stroke: none;
}
.face{
	fill: none;
	stroke: none;
}

.valley{
	stroke: hsl(205, 74%, 30%);
	stroke-width: var(--crease-width);
	stroke-linecap: round;
	stroke-dasharray:var(--crease-width-oneandhalf) var(--crease-width-double);
}
.mountain{
	stroke: hsl(14.4, 87%, 45%);
	stroke-width: var(--crease-width);
	stroke-linecap: round;
}
.mark{
	stroke: black;
	stroke-width: var(--crease-width-half);
	stroke-linecap: round;
}
.boundary{
	/*fill: hsl(50, 99%, 98%);*/
	fill: white;
	stroke: black;
	stroke-width: var(--crease-width);
	stroke-linecap: round;
}

.stroke-yellow{
	stroke: hsl(43, 88%, 46%);
	stroke-width: var(--crease-width);
	stroke-linecap: round;
}
.fill-red{ fill: hsl(14.4, 87%, 45%); }
.fill-blue{ fill: hsl(205, 74%, 61%); }
.fill-dark-blue{ fill: hsl(191, 82%, 14% ); }
.fill-black{ fill: black; }
