html, body {
	height:100%;
	width:100%;
	margin:0px;
}
canvas[resize]{
	width:100%;
	height:86%;
}
.toolbar{
	text-align:center;
}
.btn{
	padding:0.5em;
}
#interp-value{
	width:4rem;
	display: inline-block;
}
.slider.slider-horizontal{
	width:200px;
}
input#files{
	display:none;
}