:root{ --crease-width: 0.01; }

html,body{
	height:100%;
	margin:0px;
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
svg{
	width:100vw;
	height:calc(100vh - 70px);
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
.canvases{
	flex: 1 0 0;
}
.toolbar{
	flex: 0 0 70px;
	width:100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
.btn{
	margin:2px;
}
#interp-value{
	width:4rem;
	display: inline-block;
	text-align: center;
}
.slider.slider-horizontal{
	width:200px;
}
input#files{
	display:none;
}
.boundary{
	fill: white;
	stroke: black;
	stroke-width: var(--crease-width);
	stroke-linecap: round;
}
.node  { fill: none; stroke: none; }
.face  { fill: none; stroke: none; }
.sector{ fill: none; stroke: none; }
.mountain{
	stroke: hsl(14.4, 87%, 45%);
	stroke-width: var(--crease-width);
	stroke-linecap: round;
}
.valley{
	stroke: hsl(205, 74%, 30%);
	stroke-width: var(--crease-width);
	stroke-linecap: round;
	stroke-dasharray: calc( var(--crease-width) * 1.5) calc( var(--crease-width) * 2)
}
.mark{
	stroke: #888;
	stroke-width: calc( var(--crease-width) * 0.5);
	stroke-linecap: round;
}
.touch-node { fill: hsl(211, 75%, 50%); stroke:none; }
