html, body {
	height: 100%;
	width: 100%;
	margin: 0;
}
body {
	color: white;
	font-family: "Montserrat", "Helvetica", sans-serif;
	font-size: 150%;
	background-color: #158;
	display: grid;
	grid-template-rows: auto 4rem 4rem;
	grid-template-columns: 100%;
}
svg {
	max-height: 100%;
}
.canvas {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
.description {
	padding: 0 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
.toolbar {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	overflow: scroll;
}
.button {
	font-size: 2rem;
	font-weight: 900;
	margin: 0.2rem;
	padding: 0.25rem 1.0rem;
}
.language {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	pointer-events: none;
}
.language p {
	font-size: 3rem;
	background-color: #0008;
	border-radius: 1rem;
	padding: 1rem 2rem;
}
.fade {
	animation: fade 1s forwards 0.5s;
}

@keyframes fade {
	from { opacity: 1; }
	to { opacity: 0; }
}

@media (hover: none) and (orientation: portrait) {
	body {
		grid-template-rows: calc(100% - 10rem) 5rem 5rem;
		grid-template-columns: 100%;
		font-size: 120%;
	}
	svg {
		width: 100%;
		height: initial;
		max-height: 35vh;
	}
	.canvas {
		flex-direction: column;
	}
	.button {
		font-size: 1.5rem;
	}
	.description {
		align-items: flex-end;
	}
	#button-title {
		display: none;
	}
}
