:root{
	--crease-width: 0.005;
}

html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	background-color: #f8eed9;
	font-size: 130%;
}

.grid {
	display: grid;
	grid-template-columns: auto 100vh auto;
	grid-template-rows: 100%;
}

.panel {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/*border: 0.3rem solid #e53;*/
	border: 0.3rem solid #158;
	background-color: goldenrod;
	margin: 1rem;
	padding: 1rem;
}

svg {
	width: 100%;
	height: 100%;
}

svg * {
	stroke-width: var(--crease-width);
	stroke-linecap: round;
	stroke: black;
}

polygon {
	fill: none;
	stroke: none;
	stroke-linejoin: bevel;
}

.boundary {
	fill: white;
}

.valley{
	stroke-dasharray: calc( var(--crease-width) * 1) calc( var(--crease-width) * 2);
}
.mark {
	stroke-width: calc( var(--crease-width) * 0.25);
}

.foldedForm .faces polygon {
	fill: rgba(220, 10, 100, 0.2);
	stroke: rgba(0, 0, 0, 0.2);
}

.foldedForm .faces .front {
	fill: linen;
	stroke: black;
}

.foldedForm .faces .back {
	fill: peru;
	stroke: black;
}

.foldedForm .creases line {
	stroke: none;
}

.highlighted {
	stroke: #ec3;
}