:root{
	--crease-width: 0.01;
}

html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

svg {
	width: 100%;
	height: 100%;
}

polygon {
	fill: none;
	stroke: none;
}

polygon {
	stroke: black;
	stroke-width: var(--crease-width);
}

.boundary {
	stroke: black;
	stroke-width: var(--crease-width);
}

.foldedForm .faces .front {
	/*fill: steelblue;*/
	fill: none;
	stroke: black;
	stroke-width: calc(var(--crease-width) * 0.1);
}

.foldedForm .faces .back {
	/*fill: peru;*/
	fill: none;
	stroke: black;
	stroke-width: calc(var(--crease-width) * 0.1);
}

.foldedForm .creases line {
	stroke: none;
}
