:root{ --crease-width: 0.0075; }

html, body {
	height: 100%;
	width: 100%;
}
body{
	margin: 0;
	font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
	font-size: 6.5vmin;
	color: white;
	background-color: #158;
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: 80% 20%;
}

.button {
	/*height: 13vmin;*/
	/*width: 13vmin;*/
	display: flex;
	justify-content: center;
	align-items: center;
	/*padding: 0.5rem;*/
}
a svg {
	/*margin: 0 2em;*/
	/*margin: 2px 4px;*/
	width: 8vmin;
	height: 8vmin;
	cursor: pointer;
}
.button.blue, .button.red  {
	margin: 0 8vmin;
}
.button.blue {
	color: white;
	background-color: #1e6e9e;
	border-color: #1e6e9e;
}
/*
.button.yellow {
	border: 6px solid black;
}
.button.yellow:hover {
	border: 6px solid #ec4;
	background-color: white;
}

.button.red {
	border: 6px solid black;
}
.button.red:hover {
	border: 6px solid #d42;
	background-color: white
}*/

/* pattern starts invisible */
/*#pattern {
	opacity: 0;
}*/

.controls {
	grid-column: 1/3;
	grid-row: 2/3;
}

.controls a {
	margin-left: 0.25rem;
	margin-right: 0.25rem;
}

div {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

@media (orientation: portrait) {
	body {
		grid-template-rows: 50% 50%;
		grid-template-columns: 30% 70%;
		font-size: 4vmin;
	}
	a svg {
		width: 4vmin;
		height: 4vmin;
		cursor: pointer;
	}
	.controls {
		grid-column: 1/2;
		grid-row: 1/3;
	}
	/*.controls a {
		margin-top: 0.25rem;
		margin-bottom: 0.25rem;
		padding-top: 1.0rem;
		padding-bottom: 1.0rem;
	}*/
	.button {
		/*padding: 0.5rem;*/
		/*margin: 10vmin 0;*/
	}
	.button.blue, .button.red  {
		margin: 6vmin 0;
	}
	div {
		flex-direction: column;
	}
}

@media (max-aspect-ratio: 5/8) {
	body {
		grid-template-rows: 40% 40% 20%;
		grid-template-columns: 100%;
		font-size: 8vmin;
	}
	a svg {
		width: 8vmin;
		height: 8vmin;
		cursor: pointer;
	}
	.controls {
		grid-column: auto;
		grid-row: auto;
	}
	.controls a {
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
	}
	.button.blue, .button.red  {
		margin: 0 5vmin;
	}
	div {
		flex-direction: initial;
	}
}

#origami {
	position: absolute;
	z-index: 3;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
}
.button, img {
	z-index: 4;
}

svg {
	width: 100%;
	height: 100%;
}

svg * {
	stroke-width: var(--crease-width);
	stroke-linecap: round;
	stroke: black;
}

polygon {
	fill: none;
	stroke: none;
	stroke-linejoin: bevel;
}

.boundary {
	fill: linen;
}

.valley{
	stroke-dasharray: calc( var(--crease-width) * 1) calc( var(--crease-width) * 2);
}
.mark {
	stroke-width: calc( var(--crease-width) * 0.25);
}

.foldedForm .faces polygon {
	fill: rgba(220, 10, 100, 0.2);
	stroke: rgba(0, 0, 0, 0.2);
}

.foldedForm .faces .front {
	fill: linen;
	stroke: black;
}

.foldedForm .faces .back {
	fill: peru;
	stroke: black;
}

.foldedForm .creases line {
	stroke: none;
}

.creasePattern .boundary {
	fill: none;
	stroke: none;
}

.creasePattern .faces polygon {
	fill: none;
	stroke: none;
}

.creasePattern .faces .front {
	fill: none;
	stroke: none;
}

.creasePattern .faces .back {
	fill: none;
	stroke: none;
}

.creasePattern .creases line {
	stroke: #fff;
	stroke-width: calc(var(--crease-width) * 0.666 );

}
