html, body {
  height: 100%;
  width: 100%;
}
body,
button {
  font-family: "Lato", sans-serif;
}
body {
  margin: 0;
  color: white;
  background-image: url(../images/squares.png);
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, ul, li, p {
  margin: 0;
  padding: 0;
}

h1 { font-size: 2.4rem; }
h2 { font-size: 2.1rem; }
h3 { font-size: 1.8rem; }
h4 { font-size: 1.5rem; }
h5 { font-size: 1.2rem; }
h6 { font-size: 1rem; }
p, ul, li, button { font-size: 0.9rem; }

nav,
nav ul,
nav li { font-size: 1rem; }

nav {
  grid-row: 1/2;
  grid-column: 1/4;

  color: black;
  border-bottom: 3px solid #ec3;
  background-color: #fff;

  display: flex;
  flex-direction: row;
  align-items: center;
}

nav > ul {
  height: 100%;
}

nav > ul > li {
  display: inline-block;
  padding: 0 1rem;
  font-weight: 700;
  cursor: pointer;
  height: 100%;
  display: inline-flex;
  align-items: center;
}

nav > ul > li:hover {
  background-color: #ec3;
}

.page-grid {
  height: 100%;
  display: grid;
  grid-template-columns: calc((2.5rem * 2) + 3px) auto 13rem;
  grid-template-rows: 40px calc(100% - 40px);
}

.center.column {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 85% 15%;
}

.panel.column {
  display: flex;
  flex-direction: column;
  background-color: #158;
  overflow: scroll;
}

.panel.grid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: repeat(2, calc(2.5rem + 1px)) 2px repeat(2, calc(2.5rem + 1px)) 2px calc(2.5rem + 1px) 2px calc(2.5rem + 1px) ;
  grid-gap: 1px;
  padding: 1px;
  /*grid-column-gap: 2px;*/
  /*grid-row-gap: 2px;*/
  background-color: #158;
  overflow: scroll;
}
.panel.grid .button {
  /*margin: 2px;*/
}

.panel p {
  margin: 0 0.5rem;
}

.divider {
  height: 100%;
  margin: 0;
  background-color: #ec3;
}

input[type=text] {
  width: 50px;
  margin: 0 0.25rem;
  padding: 5px;
  font-size: 1rem;
  border-radius: 5px;
  border: 2px solid #158;
}

input.input-title { width: 50px; }
input.input-author { width: 60px; }
input.input-description { width: 90px; }

input[type=text]:focus {
  width: 180px;
}

svg {
  width: 100%;
  height: 100%;
  max-width: 100vw;
  max-height: 100vh;
  cursor: crosshair;
}
pre {
  margin: 0;
}

.pip-simulator-view {
  width: 13rem;
  height: 13rem;
}
.simulator-slider {
  margin: 1rem 0.25rem 0 0.25rem;
}

input[type=range].simulator-slider {
  width: calc(100% - 0.5rem);
}

.app-info-folded {
  width: 148px;
  height: 148px;
}

.info-symmetry {
  padding-left: 1rem;
  display: none;
}

.info-history {
  display: none;
  width: 100%;
  font-size: 80%;
  max-height: 150px;
  overflow: scroll;
}
.info-history-pre {
  margin: 0.5rem;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 100px;
  z-index: 2;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  top: 2rem;
  /*because of padding in nav > ul > li*/
  /*left: -1rem; */
}

.dropdown-content.secondary {
  left: 100px;
}

.dropdown:hover > .dropdown-content {
  display: block;
}

.dropdown-content > * {
  float: none;
  color: black;
  padding: 0.5rem;
  text-decoration: none;
  display: block;
  text-align: left;
  cursor: pointer;
}

.dropdown-content > *:hover {
  background-color: #ec3;
}

i.icon{
  display: inline-block;
  background-size: 2.5rem 2.5rem;
  /*opacity: 1;*/
  margin: 0;
  padding: 0;
  width: 2.5rem;
  height: 2.5rem;
}

i.icon.line { background-image: url(../images/line.svg); }
i.icon.ray { background-image: url(../images/ray.svg); }
i.icon.segment { background-image: url(../images/segment.svg); }
i.icon.point-to-point { background-image: url(../images/point-to-point.svg); }
i.icon.bisect { background-image: url(../images/bisect.svg); }
i.icon.pleat { background-image: url(../images/pleat.svg); }
i.icon.perpendicular-to { background-image: url(../images/perpendicular-to.svg); }
i.icon.point-to-line-point { background-image: url(../images/point-to-line-point.svg); }
i.icon.point-to-line-line { background-image: url(../images/point-to-line-line.svg); }
i.icon.straight-skeleton { background-image: url(../images/straight-skeleton.svg); }
i.icon.kawasaki { background-image: url(../images/kawasaki.svg); }
i.icon.select { background-image: url(../images/select.svg); }
i.icon.remove { background-image: url(../images/remove.svg); }
i.icon.mountain-valley { background-image: url(../images/mountain-valley.svg); }
i.icon.mark { background-image: url(../images/mark.svg); }
i.icon.loading {
  height:1em;
  line-height:1;
  -webkit-animation:icon-loading 2s linear infinite;
  animation:icon-loading 2s linear infinite
}
