:root{ --crease-width: 0.00666; }

html, body {
	width: 100%;
	height: 100%;
}

body {
	margin: 0px;
	display: flex;
	align-items: center;
	justify-content: center;	
	background-color: black;
	color: white;
	font-family: sans-serif;
}

.corner {
	position: absolute;
	z-index: 1;
	top: 1rem;
	right: 1rem;
	width: 45vmin;
	height: 45vmin;
	cursor: pointer;
}

svg {
	width: 100%;
	height: 100%;
}

svg * {
	stroke-width: var(--crease-width);
}

.boundary {
	fill: none;
	stroke: none;
}

.foldedForm * {
	stroke-width: calc( var(--crease-width) * 0.25);
}
.foldedForm #faces {
	stroke: black;
}
.foldedForm #faces .front {
	fill: #ecb233;
}
.foldedForm #faces .back {
	fill: white;
}

.creasePattern .mountain {
	stroke: black;
	stroke-linecap: round;
}
.creasePattern .valley {
	stroke: black;
	stroke-linecap: round;
	stroke-dasharray: calc( var(--crease-width) * 0.01) calc( var(--crease-width) * 2)
}
.creasePattern #faces {
	stroke: none;
	fill: none;
}
.creasePattern #creases * {
	stroke: white;
}
