.button {
  padding: 0.5rem 1.0rem;
  border-radius: 0.05rem;
  border: 1px solid transparent;
  display: inline-block;
  color: black;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  cursor: pointer;
}

.button {
  background-color: unset;
  border-color: black;
}

.button:hover {
  background-color: #37a;
  border-color: #37a;
}
.button.blue {
  background-color: #37a;
  border-color: #37a;
  color: white;
}
.button.blue:hover {
  background-color: #49d;
  border-color: #49d;
}

.button.red {
  background-color: #d42;
  border-color: #d42;
  color: white;
}
.button.red:hover {
  background-color: #e64;
  border-color: #e64;
}

.button.yellow {
  background-color: #eb4;
  border-color: #eb4;
}
.button.yellow:hover {
  background-color: white;
  border-color: white;
}

a.button { text-decoration: none; }
a.button:hover {
  color: white;
}

.button.disabled {
  pointer-events: none;
  opacity: 0.5;
}
.button.nopress {
  pointer-events: none;
}
.button.nopress:hover {
  background-color: initial;
  border-color: initial;
}

.button.small {
  font-size: 90%;
  padding: 1.25rem 0.75rem;
}