.code {
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	text-shadow: 0 1px rgba(0, 0, 0, 0.3);
	text-align: left;
	color: #f8f8f2;
	background: none;
	line-height: 1.5;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}
.code {
	display: block;
	overflow: auto;
	background: #272822;
}

pre.language {
	display: inline-block;
	position: absolute;
	padding: 0.25rem 0.5rem;
	z-index: 1;
	color: black;
	background-color: white;
	font-weight: bold;
	/*right: calc((100% - 450px) / 2);*/
	right: 1.5rem;
	top: calc(-1.5rem);
	border: solid black 3px;
	border-radius: 4px;
	max-width: initial;
	width: initial;
	min-width: initial;
}

pre.compact, pre.compact code {
	line-height: 1.0;
}

/* the following are short to allow quick typing */
c{ /* comment */
	color: #708090;
}
f{ /* function */
	color: #66D9EF;
}
n, .n { /* number */
	color: #AE81FF;
}
v, def{ /* variable */
	color: #A6E22E;
}
op, key{ /* operator */
	color: #F92672;
}
str { /* string */
	color: #E6DB74;
}
arg{ /* argument */
	color: #FD9720;
}

lv{
	color: #158;
}
lf{
	color: #000;
}
larg {
	color: #e53;
}
lc {
	color: #bbb;
}