nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	overflow: visible;
	z-index: 5;
}

nav li {
	float: left;
	letter-spacing: 1px;
}
nav li a, nav li a:hover, nav li a:visited, nav li a:active{
	color: white;
	text-decoration: none;
}
nav li a {
	display: block;
	text-align: center;
	padding: 14px 16px;
}
nav li a:hover {
	background-color: #111;
}
nav li.dropdown a:hover{
	cursor: pointer;
}
nav li.dropbtn a:hover{
	cursor: default;
}
.dropdown {
	position: relative;
	display: inline-block;
}
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #333;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	padding:0px 0px 16px 0px;
	z-index: 3;
}
.dropdown:hover .dropdown-content {
	display: block;
	cursor: default;
}

.mobile-nav-button {
	display: none;
}
.mobile-nav-dropdown {
	background-color: initial;
}

@media (max-width: 700px) {
	.mobile-nav-dropdown {
		position: relative;
		display: block;
		background-color: #333;
	}
	nav ul {
		display: block;
		top: 2.5rem;
		left: 0;
		width: initial;
	}

	nav li {
		display: block;
		float: none;
	}
	.dropdown {
		display: block;
	}
	.dropdown-content {
		background-color: #333;
	}
	.mobile-nav-button {
		width: 28px;
		height: 28px;
		padding: 8px;
		display: inline-block;
		position: fixed;
		top: 0;
		left: 0;
		background-color: #333;
		z-index: 2;
	}
	.mobile-nav-button img {
		width: 100%;
		height: 100%;
	}
	.nav-wrapper {
		display: none;
	}
	.nav-wrapper li {
		background-color: #333;
	}
	.mobile-nav-dropdown:hover .nav-wrapper {
		display: block;
		cursor: default;
	}
}
