/* Eric Meyer’s Reset CSS 2.0 */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }
/* Eric Meyer’s Reset CSS 2.0 */

body{
	font-family: 'Cormorant', Georgia, "Times New Roman", Times, serif;
	padding: 0;
	margin:2em;
	padding-top:1em;
} 
a{
	color: black;
	font-weight: bold;
}
a:hover{
	text-decoration: none;
}
h1 a, h2 a, h3 a, h4 a, h5 a{
	font-weight: normal;
	text-decoration: none;	
}
h1, h2, h3, h4, h5, p, nav, li{ 
	font-weight: 500; 
}
h1{
	font-weight: 300; 
	font-size: 400%;
	width:100%;
	text-align: center;
	-webkit-margin-after: 1em; 
	-webkit-margin-before: 1.2em; 
}
h2{
	font-size: 270%; 
	-webkit-margin-after: 0.2em; 
	-webkit-margin-before: 1em; 
}
h3{ font-size: 240%; }
h4{ font-size: 200%; }
h5{ font-size: 170%; }
p, li{ font-size: 150%; }
section{
	padding: 0 10%;
}
h2{
	padding-bottom: 4px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: black;
}
.centered{
	width: 100%;
	text-align: center;
	display:inline-block;
}
.half{
	width: 50%;
	text-align: center;
	display:inline-block;
}
.third{
	width: 33%;
	text-align: center;
	display:inline-block;
}
.quote, .quoteauthor{
	text-align:center;
	font-style: italic;
}
.quoteauthor{
	font-weight: bold;
}
button:focus {outline:0;}

/* P5.js and D3.js */
.p5sketch{
	margin-top:3em;
	margin-bottom:3em;
}
.svg-container {
	display: inline-block;
	position: relative;
	width: 100%;
	vertical-align: top;
	overflow: hidden;
}
.svg-content {
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
}
.links line {
	stroke: #000;
	stroke-width: 4px;
	cursor: pointer;
}
.nodes circle {
	stroke: #000;
	fill: #FFF;
	stroke-width: 4px;
	cursor: pointer;
}

/* code syntax highlighting */
code, pre {
	color: #f8f8f2;
	background: none;
	text-shadow: 0 1px rgba(0, 0, 0, 0.3);
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

pre {
	padding: 1em;
	margin-top: 3em;
	margin-bottom:3em;
	overflow: auto;
	border-radius: 0.3em;
	background: #272822;
	max-width:800px;
	display:inline-block;
	min-width:500px;
}

code {
	padding: .1em;
	border-radius: .3em;
	white-space: normal;
}

/* the following are short to allow quick typing */

c{ /* comment */
	color: #708090;
}
f{ /* function */
	color: #66D9EF;
}
n, .n { /* number */
	color: #AE81FF;
}
v, def{ /* variable */
	color: #A6E22E;
}
op, key{ /* operator */
	color: #F92672;
}
str { /* string */
	color: #E6DB74;
}
arg{ /* argument */
	color: #FD9720;
}

/* JQuery expanding DIV */
/* accordion shared */
.ui-accordion{
	background: #f6f6f6;
}
/* accordion header */
.ui-accordion .ui-accordion-header {
	margin: 2px 0 0 0;
	padding: .5em;
	color:#888;
	font-size: 140%;
/*	font-style: italic;
*/	font-weight: bold;
	cursor: pointer;
	outline: 0;
	text-align: center;
}
/* accordion body */
.ui-accordion .ui-accordion-content {
	display: block;
	/*border: 0;*/
	padding: 1em;
	overflow: auto;
	-webkit-margin-before:0px;
	-webkit-margin-after:0px;
}
/* todo: figure out how to make internal div no padding */
.ui-accordion div {
	padding:0;
}

.left-pad{
	padding:0px 14px;
	vertical-align: 10%;
}

.fa-pencil-square-o{
	vertical-align: 0%;	
}