html, body{
	font-family: 'Lora', serif;
	font-weight: 400;
}
body{
	margin: 3em 15vw;
}
h1, h2, h3, h3, h4, nav {
	font-family: 'Cormorant', Georgia, "Times New Roman", Times, serif;
	font-weight: 300;
	text-transform: uppercase;
}
h1{ font-size: 420%; }
h2{ font-size: 280%; }
h3{ font-size: 240%; }
h4{ font-size: 180%; }
h5{ font-size: 150%; }
h1{
	padding: 1em 0;
	text-align: center;
}
h2{
	padding-top: 0.6em;
	padding-bottom: 6px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: black;
}
h3{
	padding: 1em 0 0 0;
	font-weight: 500;
}
p, ol, ul {
	font-size: 140%;
	margin: 1em 0;
	line-height: 1.33em;
	text-align: justify;
}
ul{
	list-style-type: square;
	padding-left:1em;
}
ol{
	list-style-type: upper-roman;
	padding-left:2em;
}
b, strong{ font-weight: bold; }
/* links */
a, a:hover, a:visited, a:active{
	color:#000;
	text-decoration: underline;
	font-weight: bold;
}
a:hover { text-decoration: none; }

svg {
	max-width: 100%;
	height: 60vh;
	display: block;
	margin: auto;
}
div[id^="canvas-"] {
	margin: 0 -15vw;
}
.center {
	text-align: center;
}
.three-js{
	width: 70vh;
	height: 70vh;
	display: block;
	margin: auto;
}

.quote{
	text-align: center;
	font-style: italic;
	line-height: 1.5em;
}
.explain{
	margin-top:2em;
	margin-bottom:2em;
	padding:1em;
	background-color: #FFFFAA;
	box-shadow: 5px 5px 5px #CCC;
	line-height: 2em;
}
.tests{
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	background-color: #FFF;
	margin:2em 0;
	padding:1em;
	border-width: 5px;
	border-style: dashed;
	border-color: black;
	box-shadow: inset 5px 5px 10px #CCC;
}
.tests li{
	padding:.33em 0;
}
.diptych {
	display: flex;
	flex-direction: row;
}
.diptych * {
	flex: 1;
}
.btn {
	margin: 0;
    font-family: inherit;
	display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .5rem .75rem;
    font-size: 1rem;
    line-height: 1.25;
    border-radius: .25rem;
    transition: all .15s ease-in-out;	
    background-color: #e14929;
    border: none;
    color: white;
    padding: 12px 30px;
    font-size: 16px;
    font-size: 20px;
    cursor: pointer;
}
@media only screen and (max-width: 600px) {  }

::selection {
	background: #fffb5f; /* WebKit/Blink Browsers */
}
::-moz-selection {
	background: #fffb5f; /* Gecko Browsers */
}
