/* font */
body {
	font-family: 'Lora', serif;
	font-weight: 400;
}
h1, h2, h3, h3, h4, nav {
	font-family: 'Cormorant', Georgia, "Times New Roman", Times, serif;
	font-weight: 300;
	text-transform: uppercase;
}
pre, code {
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
}
h3 { font-weight: 500; }
/* font-size */
h1 { font-size: 3.4rem; }
h2 { font-size: 2.4rem; }
h3 { font-size: 2.0rem; }
h4 { font-size: 1.6rem; }
h5 { font-size: 1.333rem; }
h6 { font-size: 1.0rem; }
p, ol, ul {
	font-size: 1.333rem;
}
pre, code {
	font-size: 1rem;
}
nav, nav ul {
	font-size: 1rem;
}
/* font-style */
em { font-style: italic; }
b { font-weight: bold; }
h1 { text-align: center; }
h2 {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: black;
}
h3 { text-align: center; }
ol {
	list-style: upper-roman;
	padding-left: 2rem;
}
ul {
	list-style: square;
	padding-left: 2rem;
}

/* hyperlinks */
a { color: #e53; }
a:visited { color: #000; }
a:hover, a:active { color: #ea3; }

/* margins */

body { margin: 0 200px; }
h1 { margin: 1.5rem 0; }
h2 { margin: 1.5rem 0 0.5rem 0; }
h3 { margin: 1rem 0; }
/* prevent text under the menu */
nav + * { margin-top: 4rem; }
p + p,
p + ol,
ol + p,
p + ul,
ul + p {
	margin-top: 1rem;
}
svg {
	width: 100%;
	height: initial;
	max-height: 16rem;
}
.full svg {
	width: 100vw;
	margin-left: -200px;
	margin-right: -200px;
}
div[id^=canvas-] {
	margin: 1rem 0;
}
.d3-force-graph { text-align: center; }
.d3-force-graph svg {
	margin: auto;
	width: 16rem;
	max-width: 100%;
	height: 16rem;
} 
.d3-force-graph line,
.d3-force-graph circle {
  stroke: #000;
  fill: #FFF;
  stroke-width: 4px;
  cursor: pointer;
} 
pre, code {
	overflow: auto;
	max-width: calc(100% - 2rem);
}

.code {
	margin: 1rem auto;
	width: 550px;
	padding: 1rem;
}

.equation {
	text-align: center;
	margin: 1rem auto;
}

.katex {
	font-size: 2em !important;
}

.grid-2 {
	display: grid;
	grid-template-columns: 50% 50%;
}

.grid-2 > * {
	flex: 1;
}

/* medium computers */
@media (max-width: 1000px) {
	body{
		margin: 0 100px;
	}
	.full svg {
		margin: 0 -100px;
	}
	.code {
		width: 450px;
	}
}

/* small computers. basically mobile */
@media (max-width: 700px) {
	nav, nav ul {
		/*height: 3rem;*/
		overflow: hidden;
	}
	/* no longer need to prevent text under the menu */
	nav + * {
		/*margin-top: initial;*/
		margin-top: 2rem;
	}
	pre, code {
		max-width: calc(100% - 2rem);
	}
	body{
		margin: 0 1rem;
	}
	.full svg {
		margin: 0 -1rem;
	}
	/*.code {
		width: calc(100% - 2rem);
	}*/
	.katex {
		font-size: 1.6rem !important;
	}

	.grid-2 {
		display: grid;
		grid-template-columns: 100%;
		grid-template-rows: 1fr 1fr;
	}

	.grid-2 > * {
		flex: 1;
	}

}

/* phones */
@media not all and (hover) {
	/*p, ol, ul, pre, code { font-size: 1.333rem; }*/
}
