html, body{
	font-family: 'Lora', serif;
	font-weight: 400;
}
body{
	margin: 3em 15vw;
}
h1, h2, h3, h3, h4, nav {
	font-family: 'Cormorant', Georgia, "Times New Roman", Times, serif;
	font-weight: 300;
	text-transform: uppercase;
}
h1{ font-size: 4.2rem; }
h2{ font-size: 2.8rem; }
h3{ font-size: 2.4rem; }
h4{ font-size: 1.8rem; }
h5{ font-size: 1.5rem; }
h6{ font-size: 1.2rem; }
p, ol, ul {
	font-size: 1.4rem;
}
nav ul {
	font-size: 1rem;
}
h1{
	margin: 1em 0;
	text-align: center;
}
h2{
	margin-top: 0.6em;
	margin-bottom: 6px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: black;
}
h3{
	margin: 1em 0 0 0;
	font-weight: 500;
}
p, ol, ul {
	margin: 1em 0;
	line-height: 1.33em;
	text-align: justify;
}
ul{
	list-style-type: square;
	padding-left:1em;
}
ol{
	list-style-type: upper-roman;
	padding-left:2em;
}
b, strong{ font-weight: bold; }
/* links */
a, a:hover, a:visited, a:active{
	color:#000;
	text-decoration: underline;
	font-weight: bold;
}
a:hover { text-decoration: none; }

.code {
	margin: 2rem auto;
	max-width: 600px;
	width: 450px;
	min-width: 200px;
}

pre {
	border-radius: 0.3em;
	padding: 1rem;
}

svg {
	max-width: 100%;
	height: 60vh;
	display: block;
	margin: auto;
}
div[id^="canvas-"] {
	margin: 0 -15vw;
}
.center {
	text-align: center;
}
.three {
	width: 100%;
	height: 50vh;
	max-height: 100vw;
/*	display: block;
	margin: auto;
*/
}
.quote{
	text-align: center;
	font-style: italic;
	line-height: 1.5em;
}
.explain{
	margin-top:2em;
	margin-bottom:2em;
	padding:1em;
	background-color: #FFFFAA;
	box-shadow: 5px 5px 5px #CCC;
	line-height: 2em;
}
.tests{
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	background-color: #FFF;
	margin:2em 0;
	padding:1em;
	border-width: 5px;
	border-style: dashed;
	border-color: black;
	box-shadow: inset 5px 5px 10px #CCC;
}
.tests li{
	padding:.33em 0;
}
.diptych {
	display: flex;
	flex-direction: row;
}
.diptych * {
	flex: 1;
}

.diptych.code {
	margin-left: 0;
	margin-right: 0;
	max-width: unset;
	width: unset;
	min-width: unset;
}
.diptych.code pre:nth-child(1){
	margin-right: 1em;
}
.diptych.code pre:nth-child(2){
	margin-left: 1em;
}

@media not all and (hover) {
	body{
		margin: 3rem 6vw;
	}
	h1{ font-size: 6.6rem; }
	h2{ font-size: 5.2rem; }
	h3{ font-size: 4.6rem; }
	h4{ font-size: 3.0rem; }
	h5{ font-size: 2.5rem; }
	h6{ font-size: 2.0rem; }
	p, ol, ul { font-size: 2.0rem; }
	nav ul {
		font-size: 1.5rem;
	}
	pre {
		font-size: 2.0rem;
	}
	h1{
		padding: 6rem 0 4rem 0;
	}
	h2{
		padding-top: 2rem;
		padding-bottom: 0.7rem;
	}
	h3{
		padding: 3rem 0 1rem 0;
	}
	p, ol, ul {
		margin: 1rem 0 2rem 0;
	}

	svg {
		width: 100%;
		max-height: 40vh;
		display: block;
		margin: auto;
	}
	div[id^="canvas-"] {
		margin: 0 -6vw;
	}

/*	.diptych {
		display: block;
		flex-direction: unset;
	}
	.diptych * {
		flex: unset;
	}*/

	.diptych svg {
		width: 30vw;
		max-height: 40vh;
		/*display: block;*/
		/*margin: auto;*/
	}

	.code {
		max-width: 95vw;
		min-width: 50%;
		width: 85%;
	}

	.diptych.code {
		max-width: unset;
		width: unset;
		min-width: unset;
		display: flex;
		flex-direction: row;
	}

	/*div[id^="canvas-"].diptych  {
		margin: 0 -6vw;
	}*/


}

::selection {
	background: #fffb5f; /* WebKit/Blink Browsers */
}
::-moz-selection {
	background: #fffb5f; /* Gecko Browsers */
}


h1 + div[id^="canvas-"] svg {
	margin-top: -4.8rem;
}
