:root{ --crease-width: 0.01; }

.mountain, .valley, .boundary, .mark {
	stroke:black;
	stroke-linecap: round;
	stroke-width: var(--crease-width);
}
.vertex, .sector{
	stroke: none;
	fill: none;
}
.vertex{ fill: hsl(43, 88%, 46%); }
.boundary{ fill:none; }
.mark{
	stroke-width: calc( var(--crease-width) * 0.25);
}
.valley{
	stroke-dasharray: calc( var(--crease-width) * 1.5) calc( var(--crease-width) * 2)
}
.touch{
	stroke: none;
	fill: hsl(14.4, 87%, 45%);
}

.creasePattern #faces .front {
	stroke: none; fill: none;
}

.creasePattern #faces .back {
	stroke: none; fill: none;
}

.foldedState #faces {
	fill: rgba(0, 0, 0, 0.1);
	stroke: black;
	stroke-width: calc(var(--crease-width)*0.1);
}

.foldedState #faces .front {
	fill: #ecb233; stroke: black;  stroke-width: var(--crease-width);
}
.foldedState #faces .back {
	fill: white; stroke: black; stroke-width: var(--crease-width);
}

.foldedState #creases * {
	fill: none; stroke: none;
}

.foldedState #vertices * {
	fill: none; stroke: none;
}

/* this is cool if you leave it out, you can see the boundary in the folded form */
.foldedState #boundaries * {
	fill: none; stroke: none;
}
