:root{ --crease-width: 0.01; }

html,body{
	margin:0;
	display:flex;
	justify-content: center;
}
svg{
	width:100vw;
	height:100vh;
}
.mountain, .valley, .boundary, .mark {
	stroke:black;
	stroke-linecap: round;
	stroke-width: var(--crease-width);
}
.node, .sector{
	stroke: none;
	fill: none;
}
.boundary{ fill:none; }
.mark{ stroke-width: calc( var(--crease-width) * 0.25); }
.valley{ stroke-dasharray: calc( var(--crease-width) * 1.5) calc( var(--crease-width) * 2) }

.creasePattern #faces {
	stroke: none; fill: none;
}

.foldedForm #faces {
	fill: rgba(0, 0, 0, 0.1);
	stroke: black;
	stroke-width: calc(var(--crease-width)*0.1);
	stroke-linejoin: bevel;
}

.foldedForm #faces .front {
	fill: #ecb233; stroke: black;  stroke-width: var(--crease-width);
}
.foldedForm #faces .back {
	fill: white; stroke: black; stroke-width: var(--crease-width);
}

.foldedForm #creases * {
	fill: none; stroke: none;
}

.foldedForm #vertices * {
	fill: none; stroke: none;
}

/* this is cool if you leave it out, you can see the boundary in the folded form */
.foldedForm #boundaries * {
	fill: none; stroke: none;
}
