:root{ --crease-width: 0.01; }

html,body{
	height:100%;
	margin:0px;
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
svg{
	width:45vmax;
	height:45vmax;
	max-height:80vh;
	max-width:100vw;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
.canvases{
	flex: 1 0 0;
}
.toolbar{
	flex: 0 0 70px;
	width:100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
.btn{
	margin:2px;
}
.boundary{
	fill: white;
	stroke: black;
	stroke-width: var(--crease-width);
	stroke-linecap: round;
}
.node  { fill: none; stroke: none; }
.face  {
	fill: #EEE8E0;
}

.sector{ fill: none; stroke: none; }
.mountain{
	stroke: hsl(14.4, 87%, 45%);
	stroke-width: var(--crease-width);
	stroke-linecap: round;
}
.valley{
	stroke: hsl(205, 74%, 30%);
	stroke-width: var(--crease-width);
	stroke-linecap: round;
	stroke-dasharray: calc( var(--crease-width) * 1.5) calc( var(--crease-width) * 2)
}
.mark{
	stroke: #888;
	stroke-width: calc( var(--crease-width) * 0.5);
	stroke-linecap: round;
}

.creasePattern #faces {
	stroke: none; fill: none;
}

.foldedForm #faces {
	fill: rgba(0, 0, 0, 0.1);
	stroke: black;
	stroke-width: calc(var(--crease-width)*0.1);
	stroke-linejoin: bevel;
}

.foldedForm #faces .front {
	fill: #ecb233; stroke: black;  stroke-width: var(--crease-width);
}
.foldedForm #faces .back {
	fill: white; stroke: black; stroke-width: var(--crease-width);
}

.foldedForm #creases * {
	fill: none; stroke: none;
}

.foldedForm #vertices * {
	fill: none; stroke: none;
}

/* this is cool if you leave it out, you can see the boundary in the folded form */
.foldedForm #boundaries * {
	fill: none; stroke: none;
}

.stroke-yellow{ stroke: hsl(43, 88%, 46%) !important; }
.fill-yellow{ fill: hsl(43, 88%, 46%) !important; }
.fill-red{ fill: hsl(14.4, 87%, 45%) !important; }
.fill-blue{ fill: hsl(205, 74%, 30%) !important; }
.fill-dark-blue{ fill: hsl(191, 82%, 14% ) !important; }
.fill-black{ fill: black; }
