body {
	font-family: 'Merriweather', Georgia, "Times New Roman", Times, serif;
	padding: 0;
	margin:2em;
	padding-top:1em;
} 
a { color: black; text-decoration: none; font-weight: bold;}
h1{ font-size: 400%; -webkit-margin-after: .2em; -webkit-margin-before: .2em; }
h2{ font-size: 320%; }
h3{ font-size: 260%; }
h4{ font-size: 200%; }
h5{ font-size: 150%; }
p{ font-size: 180%; }
p.ui-accordion-content{ font-size: 140%; }

/* NAV BAR */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color:#FFF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #111;
}
/* end nav bar */
.centered{
	width: 100%;
	text-align: center;
	display:inline-block;
}
.half{
	width: 50%;
	text-align: center;
	display:inline-block;
}
.third{
	width: 33%;
	text-align: center;
	display:inline-block;
}
.quote, .quoteauthor{
	text-align:center;
	font-style: italic;
}
.quoteauthor{
	font-weight: bold;
}
button:focus {outline:0;}
pre {
	margin-top: 1em;
	margin-bottom:1em;
	max-width:500px;
	/*min-width:300px;*/
}
/* accordion shared */
.ui-accordion{
	background: #f6f6f6;
}
/* accordion header */
.ui-accordion .ui-accordion-header {
	margin: 2px 0 0 0;
	padding: .5em;
	color:#888;
	font-size: 140%;
	font-style: italic;
	font-weight: bold;
	cursor: pointer;
	outline: 0;
}
/* accordion body */
.ui-accordion .ui-accordion-content {
	display: block;
	/*border: 0;*/
	padding: 1em;
	overflow: auto;
	-webkit-margin-before:0px;
	-webkit-margin-after:0px;
}
/* todo: figure out how to make internal div no padding */
.ui-accordion div {
	padding:0;
}

.p5sketch{
	margin-top:2em;
	margin-bottom:2em;
}

/* D3 sketches */
.svg-container {
	display: inline-block;
	position: relative;
	width: 100%;
	vertical-align: top;
	overflow: hidden;
}
.svg-content {
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
}
.links line {
	stroke: #000;
	stroke-width: 4px;
	cursor: pointer;
}
.nodes circle {
	stroke: #000;
	fill: #FFF;
	stroke-width: 4px;
	cursor: pointer;
}