html,body{
	height: 100%;
	width: 100%;
}
body {
	margin: 0px;
	background-color: #158;
	font-family: sans-serif;
	font-size: 133%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
}

@media (orientation: portrait) {
	body {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr;
	}
}

.toolbar {
	position: absolute;
	bottom: 0;
	left: 0;
	width: calc( 100% - 2rem);
	height: 20vh;
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin: 1rem;
	text-align: center;
}

.button {
	margin: auto;
}

input[type=range] {
	max-width: 300px;
	margin: auto;
}