nav ul {
	font-size: 100%;
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	overflow:visible;
}
nav li {
	float: left;
	letter-spacing: 1px;
	font-size: 100%;
}
nav li a {
	display: block;
	color:#FFF;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
nav li a.link-fa{
	padding:7px 14px;
}
nav li a:hover {
	background-color: #111;
}
nav li.dropdown a:hover{
	cursor: pointer;	
}
nav li.dropbtn a:hover{
	cursor: default;	
}
.dropdown {
	position: relative;
	display: inline-block;
}
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #333;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
/*	padding: 12px 16px; */    
	padding:0px 0px 16px 0px;
	z-index: 1;
}
.dropdown:hover .dropdown-content {
	display: block;
	cursor: default;
}
