html, body {
	height:100%; width:100%;
	margin:0px;
	background-color: #fff;
}
#canvas-container{
	width:100%;
	height:calc(100% - 52px);
	margin-top:52px;
	display:flex;
	justify-content: center;
	align-items: center;
}
canvas[resize]{
	width:100%;
	height:100%;
}
canvas#canvas-folded{
	margin:0;
	width:20vmin;
	height:20vmin;
	min-width:218px;
	min-height:218px;
}

.btn{ padding:0.5em; }
.toolbar{ text-align: center; }
.col-md-4{ text-align: center; }

ul{
	list-style: none;
	padding:0;
}
/* sidebar stuff */

/*.sidenav {
    position: fixed;
    z-index: 2;
    top: 120px;
    left: 10px;
    background: #eee;
    overflow-x: hidden;
    padding: 8px;
}

.sidenav a {
    padding: 6px 0px;
    text-decoration: none;
    font-size: 17px;
    color: #2196F3;
    display: block;
}

.sidenav a:hover {
    color: #064579;
}
*/
@media screen and (max-height: 450px) {
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
}

/* modal stuff */

.modal-header{
	background-color: #333;
	color:#FFF;
	overflow: hidden;
	border-radius: 5px 5px 0px 0px;
	font-family: sans-serif;
}
.crease-selector-group{
	margin:auto;
}
.modal-content{
	margin-right: 0;
	margin-left: 0;
}
.modal-body{ padding:15px; }
.modal-fold-body{ padding:0; }
.control-panel{
	position: fixed;
	z-index: 2;
	display: block;
	-webkit-overflow-scrolling: touch;
	outline: 0;
	width: 220px;
}
.control-panel-large{
	width: 380px;
}
#modal-what-is-this{
	top: 40%;
	left: calc(50% - 109px);
	display:none;
}
#modal-new-crease-pattern-window{
	top: 25%;
	left: calc(50% - 190px);
	display:none;
}

#modal-fold-window{
	top: 80px;
	right: 20px;
}
#modal-crease-window{
	top: 80px;
	left: 20px;
}
#new-cp-button-no, #new-cp-button-yes{ margin:0 4px; }
#new-cp-input-polygon-points-div{ display:none; }
#new-cp-input-polygon-sides{ display:none; }
/* style bootstrap */
.btn-outline-light.active, .btn-outline-light:active, .show>.btn-outline-light.dropdown-toggle {
	color: #FFF;
	background-color: #FFF;
	border-color: #FFF;
}
.btn-outline-light, .btn-outline-light:visited, .btn-outline-light:hover {
	color: #FFF !important;
}
.btn-outline-light:hover, .btn-outline-light:active, .btn-outline-light.active {
	color: #333 !important;
}
.btn-crease{
	padding:0.1em 0.5em;
	margin-bottom: 4px;
}

.btn-crease {
	color: #000;
	background-color: #fff;
	border-color: #fff;
}
.btn-crease.active, .btn-crease:active {
	color: #fff;
	background-color: #000;
	border-color: #000;
}



