:root{
	--crease-width: 0.005;
}

html, body {
	height: 100%;
	width: 100%;
}
body,
button {
	font-family: "Lato", sans-serif;
}
body {
	margin: 0;
	color: white;
  background-image: url(squares.png);
  /*background-position: 0 0, 12.5px 0, 12.5px -12.5px, 0px 12.5px;*/
}

h1, h2, h3, h4, h5, h6, ul, li, p {
	margin: 0;
	padding: 0;
}

h1 { font-size: 2.4rem; }
h2 { font-size: 2.1rem; }
h3 { font-size: 1.8rem; }
h4 { font-size: 1.5rem; }
h5 { font-size: 1.2rem; }
h6 { font-size: 1rem; }
p, ul, li, button { font-size: 0.9rem; }

nav,
nav ul,
nav li { font-size: 1rem; }

.grid {
	height: 100%;
	display: grid;
	grid-template-columns: 150px auto 150px;
	grid-template-rows: 40px calc(100% - 40px);
}

.center.column {
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 85% 15%;
}

nav {
	grid-row: 1/2;
	grid-column: 1/4;

	color: black;
	border-bottom: 3px solid #ec3;
	background-color: #fff;

	display: flex;
	flex-direction: row;
	align-items: center;
}

nav > ul {
	height: 100%;
}

nav > ul > li {
	display: inline-block;
	padding: 0 1rem;
	font-weight: 700;
	cursor: pointer;
	height: 100%;
	display: inline-flex;
	align-items: center;
}

nav > ul > li:hover {
	background-color: #ec3;
}

input[type=text] {
	width: 50px;
	margin: 0 0.25rem;
	padding: 5px;
	font-size: 1rem;
	border-radius: 5px;
	border: 2px solid #158;
}

input.input-title { width: 50px; }
input.input-author { width: 60px; }
input.input-description { width: 90px; }

input[type=text]:focus {
	width: 180px;
}

.panel {
	display: flex;
	flex-direction: column;
	background-color: #158;
	padding: 1px;
	overflow: scroll;
}

.panel p {
	margin: 0 0.5rem;
}

.divider {
	height: 1px;
	margin: 6px 0;
	background-color: #ec3;
}

svg {
	width: 100%;
	height: 100%;
	max-width: 100vw;
	max-height: 100vh;
	cursor: crosshair;
}

.app-info-folded {
	width: 148px;
	height: 148px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 100px;
  z-index: 2;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  top: 2rem;
  /*because of padding in nav > ul > li*/
  /*left: -1rem; */
}

.dropdown-content.secondary {
  left: 100px;
}

.dropdown:hover > .dropdown-content {
  display: block;
}

.dropdown-content > * {
  float: none;
  color: black;
  padding: 0.5rem;
  text-decoration: none;
  display: block;
  text-align: left;
  cursor: pointer;
}

.dropdown-content > *:hover {
  background-color: #ec3;
}
