/* code syntax highlighting */
code, pre {
  color: #f8f8f2;
  background: none;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}
code {
  padding: .1em;
  border-radius: .3em;
  white-space: normal;
}
pre {
  padding: 1em;
  overflow: auto;
  border-radius: 0.3em;
  background: #272822;
  display: inline-block;
  margin: 0;
}

code a, code a:visited, code a:active, code a:hover{
  color:white;
  text-decoration: none;
}
code a:hover{
  /*border-width: 5px;*/
  border-bottom-width: 1.5px;
  border-style: solid;
  border-color: white;/*#66D9EF;*/
}

/* the following are short to allow quick typing */

c{ /* comment */
  color: #708090;
}
f{ /* function */
  color: #66D9EF;
}
n, .n { /* number */
  color: #AE81FF;
}
v, def{ /* variable */
  color: #A6E22E;
}
op, key{ /* operator */
  color: #F92672;
}
str { /* string */
  color: #E6DB74;
}
arg{ /* argument */
  color: #FD9720;
}
