:root{ --crease-width: 0.01; }

html, body{
	height: 100%;
}

body {
	margin: 0px;
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: 100%;
	background-color: hsl(205, 74%, 30%);
	color: white;
}

@media (orientation: portrait) {
	body {
		grid-template-rows: 50% 50%;
		grid-template-columns: 100%;
	}
}

/* code console */
.CodeMirror {
	border: 1px solid #666;
	height: auto;
	overflow-y: auto;
	overflow-x: scroll;
	width: 100%;
	height:100%;
}
#code-column{
	width: calc(100% - 2rem);
	height: calc(100% - 2rem);
	margin: 1rem;
}
#code-console{
	font-family: monospace;
}
#code-container {
	height: 100%;
}

svg {
	width: 100%;
	height: 100%;
}

svg * {
	stroke-width: var(--crease-width);
	stroke-linecap: round;
	stroke: black;
}

polygon {
	fill: none;
	stroke: none;
	stroke-linejoin: bevel;
}

.boundary {
	fill: linen;
}

.valley{
	stroke-dasharray: calc( var(--crease-width) * 1) calc( var(--crease-width) * 2);
}
.mark {
	stroke-width: calc( var(--crease-width) * 0.25);
}

.foldedForm #faces polygon {
	stroke: black;
}

.foldedForm #faces .front {
	fill: peru;
}

.foldedForm #faces .back {
	fill: linen;
}

.foldedForm #creases line {
	stroke: none;
}
