:root{ --crease-width: 0.01; }

html, body {
	height:100%;
	width:100%;
	margin:0px;
	display:flex;
	flex-direction: column;
}
/* code console */
.CodeMirror {
	border: 1px solid #666;
	margin-left:20px;
	height:90vh;
	/*height: auto;*/
	/*overflow-y: auto;*/
	/*overflow-x: scroll;*/
	width: 40vw;
}
/*.cm-s-default{
	margin:0 !important;
}*/
.row{
	height:100%;
	flex:1;
	display:flex;
	flex-direction: row;
}
#code-column{
	flex: 1;
}
#three-canvas{
	flex: 4;
}
#code-console{
	font-family: monospace;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
#main-area{
	flex: 1 0 0;
	display: flex;
	flex-direction: column;
}
#toolbar{
	flex: 0 0 70px;
	width:100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
.btn{
	margin:2px;
}
