html,body{
	height:100%;
	width:100%;
	margin:0px;
	display:flex;
	align-items: center;
	justify-content: center;
}
canvas[resize].half{
	width:45vmax;
	height:45vmax;
	margin:auto;
	max-height:100vh;
	max-width:100vw;
}
.row{
	display: flex;
	flex-wrap: wrap;
}